$main-font: "Source Code Pro", serif;
$hue: 170;
$first-color: hsl($hue, 52%, 48%);
$first-color-alt: hsl($hue, 56%, 35%);
$title-color: hsl(228, 8%, 95%);
$text-color: hsl(228, 8%, 65%);
$body-color: hsl(228, 15%, 20%);
$container-color: hsl(228, 15%, 15%);
$title-pad: .4rem;